body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, Helvetica, "Lucida Grande", sans-serif;
}

.modal-body {
  position: relative;
  padding: 20px;
  height: 500px;
  overflow-y: scroll;
}

.modal-footer {
  position: relative;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.filepond--item-panel {
  background-color: #555;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: 0.75rem;
}

/* LOGIN PAGE CSS  */

.app-logo {
  width: 100px;
}
.page-one-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #ff9900;
  background: linear-gradient(to right, #ffad33, #ffe0b3);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

/* PROMO PAGE CSS */
.promo-div {
  width: 33%;
  float: left;
  height: 1000px;
  overflow: auto;
}

.edit-div {
  width: 60%;
  float: left;
}
.promo-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.promo-title {
  display: inline;
  text-align: center;
  padding: 20px;
}

.promo-logo {
  display: inline;
  width: auto;
  height: 100px;
  padding: 5px;
}

@media screen and (max-width: 1099px) {
  .div-wrap {
    display: flex;
    flex-flow: column;
  }
  .promo-title {
    display: none;
  }
  .promo-div {
    width: 100%;
    order: 2;
  }
  .edit-div {
    width: 100%;
    order: 1;
  }
}

.btn-warning,
.btn-warning:hover,
.btn-warning:active,
.btn-warning:visited {
  background-color: #ff8200 !important;
}

.signbtn {
  float: right;
}
